{{ define "main" }}
    {{ partial "header" . }}

    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="markdown">
                        {{ partial "content" . }}
                    </div>
                    <div class="alert alert-warning" role="alert">
                        <h4 class="alert-heading">Why decentralized?</h4>
                          This blog is hosted on IPFS, the Inter-Planetary File System, using <a href="http://fleek.co/" style="color:black">Fleek<a/>.<br/> 
                          Read more and join the Web 3.0: <a href="https://ipfs.io" style="color:black">ipfs.io<a/>.
                    </div>
                    {{ if isset .Site.Params "latestpostcount" }}
                        <div class="mx-0 mx-md-4 posts">
                            {{ $nbPosts := len (where .Site.RegularPages "Section" "blog") }}

                            {{ if gt $nbPosts 0 }}
                                <div class="page-heading">{{ i18n "latest_posts" }}</div>
                                <ul class="px-0">
                                    {{ range (first .Site.Params.latestpostcount (where .Site.RegularPages "Section" "blog")).GroupByDate "Jan, 2006" "desc" }}
                                        <li class="groupby">{{ .Key }}</li>
                                        {{ range sort .Pages "Date" "desc" }}
                                            {{ partial "list" . }}
                                        {{ end }}
                                    {{ end }}
                                </ul>

                                {{ if gt $nbPosts .Site.Params.latestpostcount }}
                                    <a href="./blog/" class="font-italic mt-4 see-more">{{ i18n "see_more" }}</a>
                                {{ end }}
                            {{ end }}
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>

    {{ partial "footer" . }}
{{ end }}
